.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    box-shadow: 5px 0px 15px 0px rgb(97,19,19);
}

.nav__li{
    display: inline-block;
    padding: 3px;
}

.nav__li:hover > a {
    color: rgb(224, 224, 224);
}

.nav__li a {
    display: block;
    color: white;
}