<nav>
    <ul class="nav__ul">
        <li class="nav__li"><a href="https://www.linkedin.com/in/nu%C3%B1ezr/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
        <li class="nav__li"><a href="https://github.com/lucasnahuelrosales" target="_blank"><i class="fa-brands fa-github"></i></a></li>
        <li class="nav__li"><a href="https://www.facebook.com/lucas.nunez.1614" target="_blank"><i class="fa-brands fa-square-facebook"></i></a></li>
        <li class="nav__li login"><a href="#"><button class="btn">Login</button></a></li>
    </ul>
</nav>
