.contenedor-circulo{
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    justify-content: center;
}

.contenedor{
    background: rgb(0, 0, 0);
    padding: 10px;
}

.titulo-añadir{
    display: flex;
    justify-content: space-between;
}

.titulo-añadir button{
    height: 40px;
}

.botones{
    display: flex;
    justify-content: center;
}