<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Estudio 1</h2>
                lorem ipsum dolor sit amet, consectet
                <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet, consectet</p>
            </li>
            <li>
                <h2>Estudio 1</h2>
                lorem ipsum dolor sit amet, consectet
                <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet, consectet</p>
            </li>
            <li>
                <h2>Estudio 1</h2>
                lorem ipsum dolor sit amet, consectet
                <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet, consectet</p>
            </li>
        </ul>
    </div>
</div>
