<div class="contenedor">
    <div class="titulo-añadir">
        <h1>Educación</h1>
        <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
            Añadir
        </button>
    </div>
    <div class="nombre-descripcion">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>
                        <h2>{{Educacion.nombreE}}</h2>
                        <p class="descripcion">{{Educacion.descripcionE}}</p>
                    </td>
                    <td *ngIf="isLogged">
                        <div class="botones">
                            <button type="button" class="btn btn-light" routerLink="/editedu/{{Educacion.id}}">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button type="button" class="btn btn-danger" (click)="borrar(Educacion.id)">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
