.contenedor{
    background: rgb(0, 0, 0);
    padding: 10px;
}

.titulo-añadir{
    display: flex;
    justify-content: space-between;
}

.titulo-añadir button{
    height: 40px;
}

.contenedor-proyecto{
    display: flex;
    justify-content: center;
    padding: 2%;
    flex-wrap: wrap;
}

.tarjeta-botones{
    margin: 2%;
}

.tarjeta{
    width: 100%;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 3%;
}

img{
    width: 100%;
    border-radius: 3%;
}

.nombre-descripcion{
    padding: 2%;
}

.botones{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

/*Vista mobile*/
@media(max-width:575px){
    .tarjeta-botones{
        width: 80%;
    }
}

/*Vista para escritorio*/
@media(min-width:576px){
    .tarjeta-botones{
        width: 40%;
    }
}