<div class="contenedor">
    <div class="titulo-añadir">
        <h1>Proyectos</h1>
        <button type="button" class="btn btn-dark" routerLink="/newproyecto" *ngIf="isLogged">
            Añadir
        </button>
    </div>
    <div class="contenedor-proyecto">
        <div class="tarjeta-botones" *ngFor="let Proyecto of proyecto">
            <div class="tarjeta">
                <div>
                    <img src={{Proyecto?.imgP}}  alt="imagen_porfolio">
                </div>
                <div class="nombre-descripcion">
                    <h2>{{Proyecto.nombreP}}</h2>
                    <p>{{Proyecto?.descripcionP}}</p>
                </div>
            </div>
            <div class="botones" *ngIf="isLogged">
                <button type="button" class="btn btn-light" routerLink="/editproyecto/{{Proyecto.id}}">
                    <i class="bi bi-pencil-square"></i>
                </button>
                <button type="button" class="btn btn-danger" (click)="borrar(Proyecto.id)">
                    <i class="bi bi-trash"></i>
                </button>
            </div>
        </div>
    </div>
</div>