.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoAP{
    height: 60px;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}
.nav__li{
    margin: 4px;
}

.nav__li:hover > a {
    color: rgb(192, 192, 192);
}

.nav__li a {
    color: white;
    font-size: 30px;
}

.fa-brands.fa-square-facebook{
    margin-right: 10px;
}

/*Para la vista de celular*/
/*@media (max-width:575px){
    .container {
        flex-direction: column;
    }
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}*/
