<div class="contenedor">
    <div class="titulo-añadir">
        <h1>Experiencia laboral</h1>
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            Añadir
        </button>
    </div>
    <div class="nombre-descripcion">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td>
                        <h2>{{Experiencia.nombreE}}</h2>
                        <p class="descripcion">{{Experiencia.descripcionE}}</p>
                    </td>
                    <td *ngIf="isLogged">
                        <div class="botones">
                            <button type="button" class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}">
                                <i class="bi bi-pencil-square"></i> 
                            </button>
                            <button type="button" class="btn btn-danger" (click)="delete(Experiencia.id)">
                                <i class="bi bi-trash"></i> 
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>