.contenedor{
    background: rgb(0, 0, 0);
    padding: 10px;
}

h2,h3{
    display: inline;
}

.titulo{
    display:flex
}

.botones{
    display: flex;
    justify-content: right;
}

.titulo-añadir{
    display: flex;
    justify-content: space-between;
}

.titulo-añadir button{
    height: 40px;
}

.nombre-descripcion{
    padding: 0 0 0 1%;
}

.descripcion{
    margin-left: 3%;
}