<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src={{persona.img}} alt="foto_perfil" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h1 id="nombre">{{persona.nombre}} {{persona.apellido}}</h1>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1>Acerca de mi</h1>
        <p>{{persona.descripcion}}</p>
    </div>
    <button type="button" class="btn btn-dark" routerLink="/editacercade/1" *ngIf="isLogged">
        Editar
    </button>   
</div>