.row{
    padding: 20px;
}

div{
    background-color:aliceblue;
    text-align: center
}

/*estilo de la foto de perfil*/
@media(min-width:576px){
    #fotodeperfil{
        position:absolute;
        width:200px;
        height: 200px;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        object-fit: cover;
        left: 3%;
        top: 490px;
    }
}

@media(max-width:575px){
    #fotodeperfil{
        position:absolute;
        width:50%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        object-fit: cover;
        left: 25%;
        top: 525px;
    }
}

/*etiqueta nombe*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
}