.contenedor{
    display:flex;
    background-color:aliceblue;
    color:black;
    padding: 0;
}

.texto{
    text-align:center;
}

.imagen{
    display:flex;
    align-items: center;
    justify-content:center;
}

#fotodeperfil{
    width:50%;
    border:5px inset rgb(196, 16, 16);
}

#nombre{
    font-weight:Bold;
}

button{
    width:100%;
}

/*Vista mobile*/
@media(max-width:575px){
    .contenedor{
        flex-direction:column;
    }

    #fotodeperfil{
        width: 200px;
        height: 200px;
        border-radius: 100%;
        object-fit: cover;
    }

    .imagen{
        position:relative;
        top:-100px;
    }

    .texto.primero{
        margin-top:-100px;
    }
}

/*Vista para escritorio*/
@media(min-width:576px){
    div .texto.primero{
        justify-content: right;
    }

    #fotodeperfil{
        position:absolute;
        width:200px;
        height: 200px;
        border-radius: 100%;
        object-fit: cover;
        left: 3%;
        top: 410px;
    }

    .texto.primero{ 
        margin-left: 35%;
        margin-bottom: 1%;
    }

    .texto.segundo{ 
        margin-left: 15%;
        margin-bottom: 1%;
    }
}
